<template>
    <header class="bg-white rounded-b-xl shadow-lg z-30 flex items-center justify-between px-6 lg:px-8 py-2 sticky top-1.125">
        <a class="logo"></a>
        <a href="" class="login-button no-underline text-teal-600 hover:underline font-medium mx-2 py-2">
        Login
        </a>
    </header>
</template>