<template>
    <main class="overflow-hidden">
        <section class="home__hero text-center py-10 mb-24 md:mb-48 xl:mb-64">
            <h1
                class="
                    text-5xl
                    lg:text-6xl
                    text-gray-800
                    px-6
                    w-full
                    max-w-6xl
                    mx-auto
                "
            >
                Define Job website
            </h1>
            <img
                src="~assets/img/undraw_agreement_aajr.svg"
                class="
                    md:hidden
                    select-none
                    mx-auto
                    w-full
                    transform
                    translate-y-8
                    -mt-8
                "
            />
        </section>
        <!-- <div class="flex items-center justify-center">
            <div class="inline-flex" role="group">
                <button
                    type="button"
                    class="
                        rounded-l
                        px-6
                        py-2
                        border-2 border-blue-600
                        text-blue-600
                        font-medium
                        text-xs
                        leading-tight
                        uppercase
                        hover:bg-black hover:bg-opacity-5
                        focus:outline-none focus:ring-0
                        transition
                        duration-150
                        ease-in-out
                    "
                >
                    Left
                </button>
                <button
                    type="button"
                    class="
                        px-6
                        py-2
                        border-t-2 border-b-2 border-blue-600
                        text-blue-600
                        font-medium
                        text-xs
                        leading-tight
                        uppercase
                        hover:bg-black hover:bg-opacity-5
                        focus:outline-none focus:ring-0
                        transition
                        duration-150
                        ease-in-out
                    "
                >
                    Middle
                </button>
                <button
                    type="button"
                    class="
                        rounded-r
                        px-6
                        py-2
                        border-2 border-blue-600
                        text-blue-600
                        font-medium
                        text-xs
                        leading-tight
                        uppercase
                        hover:bg-black hover:bg-opacity-5
                        focus:outline-none focus:ring-0
                        transition
                        duration-150
                        ease-in-out
                    "
                >
                    Right
                </button>
            </div>
        </div> -->
        
    </main>
</template>