<template>
    <nav class="sticky bottom-0 shadow-top bg-white p-6 md:px-10 lg:px-16 xl:px-24 rounded-t-xl z-20"><button type="button" class="base-button mb-3 primary relative"><!----> <span class="">
      Kostenlos Registrieren
    </span> <a href="/register" class="absolute inset-0"></a></button></nav>
</template>