html {
    font-size: 14px;
    letter-spacing: .05em;
    --text-opacity: 1;
    color: #4a5568;
    color: rgba(74,85,104,var(--text-opacity));
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247,250,252,var(--bg-opacity));
}

body:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    background-image: linear-gradient(90deg,#319795,#3182ce);
    height: 0.36rem;
    visibility: visible;
}

body {
    padding-top: 0.36rem;
}

.top-1\.125 {
    top: 0.36rem;
}


.login-button {
    color: rgba(49,151,149,1);
    font-size: 14px;
}

.home__hero {
    background-image: url(../img/home_hero_bg.svg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.shadow-top {
    box-shadow: 0 -1px 3px rgb(0 0 0 / 30%);
}

.base-button.primary {
    height: 3rem;
    --text-opacity: 1;
    color: #e6fffa;
    color: rgba(230,255,250,var(--text-opacity));
    background-image: linear-gradient(90deg,#319795,#3182ce);
}

.base-button.primary:hover {
    background-image: linear-gradient(90deg,#2c7a7b,#2b6cb0);
}

.base-button:not(.is-inline) {
    display: flex;
    width: 100%;
}

.base-button {
    justify-content: center;
    align-items: center;
    line-height: 1.25;
    border-radius: .75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 600;
    transition-duration: .3s;
    letter-spacing: .05em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
