<template>
    <div>
        <Header />
        <Main />
        <Nav />
    </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    name: "IndexPage",
});
</script>
